@font-face{
  font-family: "RialGlyph";
  src: url("../assets/fonts/Saudi-Riyal.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+FDFC;
}


