@font-face{
  font-family: "RialGlyph";
  src: url("../assets/fonts/Saudi-Riyal.woff2") format("woff2"),
       url("../assets/fonts/Saudi-Riyal.woff") format("woff"),
       url("../assets/fonts/Saudi-Riyal.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  /* هذا الخط يُستخدم فقط للجلوف U+FDFC (رمز ﷼) */
  unicode-range: U+FDFC;
}


